# Node
node_modules/

# PNPM
.pnpm-store

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env.test
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
jest-cache/

# Temporary files
tmp/
temp/

# Docker
docker-data/